body {
  margin: 20px;
  background-image: url("./color.jpg");
  text-align: center;
  font-family: sans-serif;
  padding: 30px;
}

h1 {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #08a3d9;
  text-transform: uppercase;
  font-size: 30px;
  color: #000380;
}

.balloon {
  width: 80px;
  height: 95px;
  background: #799ed2;
  border-radius: 80%;
  position: relative;
  display: none;
  box-shadow: inset -10px -10px 0 rgba(206, 156, 156, 0.07);
  margin: 20px 30px;
  transition: transform 0.5s ease;
  z-index: 9;
  animation: balloons 3s ease-in-out infinite;
  transform-origin: bottom center;
}

.restart {
  display: none;
}

.result {
  display: none;
}

@keyframes balloons {
  0%, 100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}
.balloon:nth-child(2) {
  background: #8882c9;
  animation-duration: 3.5s;
}

.balloon:nth-child(3) {
  background: #66cc86;
  animation-duration: 3s;
}

.balloon:nth-child(4) {
  background: #d6d585;
  animation-duration: 4.5s;
}

.balloon:nth-child(5) {
  color: #a96942;
  animation-duration: 4.5s;
}

.balloon:nth-child(6) {
  color: #63bbb6;
  animation-duration: 4s;
}

.balloon:nth-child(7) {
  background: #f0753d;
  animation-duration: 5s;
}

.balloon:nth-child(8) {
  background: #a465a1;
  animation-duration: 5s;
}

.balloon:nth-child(9) {
  background: #b74e68;
  animation-duration: 5s;
}

.balloon:nth-child(10) {
  background: #f14646;
  animation-duration: 5s;
}

.balloon:nth-child(11) {
  background: #b5da5d;
  animation-duration: 5s;
}

.balloon:nth-child(12) {
  background: #74e27a;
  animation-duration: 5s;
}

.balloon:nth-child(13) {
  background: #a07ae6;
  animation-duration: 5s;
}